versioneer~=0.29
python-dateutil~=2.9
pytz~=2024.1
tzlocal~=5.2
numpy~=2.0
pandas~=2.2
scipy~=1.14
tables~=3.9
requests~=2.32
SQLAlchemy~=2.0
pymysql~=1.1
openpyxl~=3.1
matplotlib~=3.9
seaborn~=0.13
holidays~=0.52
pillow~=10.4
flask~=3.0
dash~=2.17
dash-bootstrap-components~=1.6
NREL-PySAM~=5.1
pvlib~=0.11
tqdm~=4.65
lori@git+https://github.com/isc-konstanz/lori.git@view
