versioneer~=0.29
python-dateutil~=2.9
pytz~=2025.2
tzlocal~=5.3
numpy~=2.2
pandas~=2.3
tables~=3.10
pymysql~=1.1
psycopg2~=2.9
sqlalchemy~=2.0
influxdb-client~=1.49
jsonpath_ng~=1.7
paho-mqtt~=2.1
requests~=2.32
pillow~=12.0
flask~=3.1
flask-bcrypt~=1.0
flask-login~=0.6
dash~=3.2
dash-auth~=2.3
dash-bootstrap-components~=2.0
opencv-python~=4.12
entsoe-py~=0.7
openpyxl~=3.1
matplotlib~=3.10
seaborn~=0.13
tqdm~=4.67
holidays~=0.82
NREL-PySAM~=7.1
pvlib~=0.13
lories~=0.15
