setuptools==65.6.*
python-dateutil==2.8.*
pytz==2022.*
numpy==1.24.*
pandas==1.5.*
scipy==1.10.*
tables==3.8.*
openpyxl==3.1.*
matplotlib==3.6.*
seaborn==0.12.*
th_e_core>=0.6.1
th_e_data>=0.1.0
pvlib==0.9.*
