Source: sparcs
Section: contrib/electronics
Priority: optional
Standards-Version: <version>
Build-Depends: debhelper (>= 10)
Maintainer: Adrian Minde <adrian.minde@isc-konstanz.de>
Homepage: https://isc-konstanz.de
Vcs-Browser: https://github.com/isc-konstanz/sparcs/
Vcs-Git: https://github.com/isc-konstanz/sparcs.git

Package: sparcs
Architecture: all
Depends: ${misc:Depends}, lories
Description: Debian package of the SPARCS application.
